@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');
*{
    margin: 0;
    font-family: 'Baloo Bhaijaan 2';
}


#background{
    width:100%;
    height:100%;
}

#card{
    width: 200px;
    height:90px;
    position: absolute;
    font-size: 3rem;
    border: 5px solid white;
}

.card_day1{
    margin-top:40px;
    margin-left: 20%;
    background:black;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}